<!-- 文字を入力すると、その文字を含む項目だけを表示する -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
  <input v-model="findWord">
  <ul>
    <li v-for="item in findItems">{{ item }}</li>
  </ul>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      findWord: '',
      items: [ '桃太郎', '花咲かじいさん', '浦島太郎', 'かぐや姫', 'かちかち山']
    },
    computed: {
      findItems: function() {
        if (this.findWord) {  //  not undefined
          //  value => 配列の要素を１つずつテスト
          return this.items.filter(function(value) {
            //  indexOf() => 見つかった位置を返す。なければ -1
            return (value.indexOf(this.findWord) > -1);
          }, this);
        } else {
          return this.items;  //  検索文字列がない場合はそのまま返す
        }
      }
    }
  })

</script>
